[submodule "dwm"]
	path = dwm
	url = git@github.com:j0giwa/dwm.git
[submodule "dmenu"]
	path = dmenu
	url = git@github.com:j0giwa/dmenu.git
[submodule "st"]
	path = st
	url = git@github.com:j0giwa/st.git
