[submodule "dwm"]
	path = dwm
	url = https://github.com/j0giwa/dwm
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/j0giwa/dmenu
[submodule "st"]
	path = st
	url = https://github.com/j0giwa/st
